{% extends 'base.html.twig' %}

{% block title %}Hello SongController!{% endblock %}

{% block body %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <div>{{ content|raw }}</div>
{% endblock %}
