*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-color: #333;
    --font-color: #fff;
}

html {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

.e-heading {
    line-height: 1.2;
    font-weight: bold;
}

.e-heading--song-title {
    margin: 0;
    font-size: 2rem;
    opacity: 0.8;
}

.c-song {
    h2 {
        margin: 2.8em 0 0.5em;
        line-height: 1.2;
        font-weight: bold;
        font-size: 0.8rem;

        &:first-child {
            margin-top: 1em;
        }
    }

    p {
        margin: 0;
    }
}

.l-main {
    padding: 0 20px 64px;
}

.c-header {
    position: sticky;
    top: -2rem;
    display: flex;
    align-items: center;
    padding: 3rem 20px 1rem;
    background-color: var(--background-color);
}

.c-button {
    position: fixed;
    right: 1rem;
    top: 50lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid var(--font-color);

    svg {
        width: 22px;
        height: 22px;

        path {
            fill: var(--font-color);
        }
    }
}
